<template>
  <div>
    <p>
      Euro Precast Concrete offers two types of retaining walls.
    </p>
    <p>
      <a style="font-weight: bold;">
        Soil retention walls
      </a>
      <br/>
      L-shaped (cantilevered) retaining walls provide excellent strength and durability, with scalability and rapid
      installation for all types of soil retention projects. They are available in various widths, with vertical
      dimensions from 4 to 8 feet in height. Our surface texture and color options can provide a unique and attractive
      appearance to match the customer’s aesthetic needs.
    </p>
    <carousel item="soil-retention-walls" :images="soilRetention"></carousel>
    <br/>
    <p>
      <a style="font-weight: bold;">
        Material storage walls
      </a>
      <br/>
      L-walls are durable, versatile and expandable to match your storage requirements. While some applications require
      permanent installation, L-wall panels are frequently used for portable containment, allowing site locations to be
      quickly and easily resized and reconfigured.
    </p>
    <carousel item="material-storage-walls" :images="materialStorage"></carousel>
  </div>
</template>

<script>
  import Carousel from '@/components/Carousel'

  export default {
    name: 'RetainingWalls',
    components: {Carousel},
    data() {
      return {
        soilRetention: [
          'retaining-wall-0.jpeg'
        ],
        materialStorage: [
          'retaining-wall-1.jpeg',
          'retaining-wall-2.jpeg',
          'retaining-wall-3.jpeg',
          'retaining-wall-4.jpeg'
        ]
      }
    }
  }
</script>

<style scoped>

</style>