<template>
  <div id="about">
    <div class="row">
      <div class="col-auto m-auto">
        <img src="../assets/give-elementer.png" alt="Give Elementer">
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <p>
          Give Element Factory A /S was established in 1964 by Jens Eskildsen in the heart of Jutland, Denmark and has
          since delivered precast concrete components for more than 10,000 buildings.
        </p>
        <p>
          The factory’s initial production area was around 500 m2, on a total plant site of 8,000 m2. Over the years,
          the
          production area was expanded several times. Currently the production, warehouse and administration facilities
          comprise more than 9000 m2, on a total site area of 62,000 m2.
        </p>
        <p>
          The company’s first product was 60 cm polished exterior wall elements. Later facades of natural stone were
          added. In 1980, an expansion of the production facilities allowed manufacture of elements of up to 5.5 meters
          in length. These products still form the foundation of the Give Elementer product line.
        </p>
        <p>
          Production now also includes channel elements and a wide product range of L-elements. Since launching the
          first L-item, more than 100,000 linear meters have been delivered.
        </p>
        <p>
          In 1969 a sales office in Naestved, Denmark was established under the direction of Leif Poulsen, who has since
          handled the sale of products east of the Great Belt. Give Elementer primarily supplies components to Denmark,
          but also for construction projects in Germany, Norway, Sweden, the Faeroe Islands and Poland.
        </p>
        <p>
          Give Element Factory A / S is a leading supplier of components for agricultural and small industry. The
          employees of Give Elementer meet their customers’ needs by continually developing and innovating the product
          line. They excel in adapting to each building project and delivering quality on time and at competitive
          prices.
        </p>
        <p>
          The same innovative tradition of Give Elementer was brought to the United States in 2008 with the formation of
          Euro Precast Concrete, LLC. Drawing on the extensive knowledge base and traditions of our parent company, we
          strive to provide unique and exceptional solutions to our customers’ needs.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "About"
  }
</script>

<style scoped>

</style>