<template>
  <div id="home">
    <div class="row">
      <div class="col">
        <h2>A tradition of quality and innovation</h2>
        <p>
          The industry -leading tradition of Euro Precast Concrete originated more than 50 years ago in Denmark at our
          parent company, Give Elementer, a leading supplier of precast concrete components for commercial, industrial,
          agricultural and residential applications.
        </p>
        <p>
          In 2008, the same European precision engineering and advanced production techniques were introduced in
          Southern California by Euro Precast Concrete, LLC. Offering superior design features and clean, detailed
          casting, our products are manufactured to the highest standards and will add strength and stature to your
          building or landscaping project, at a very competitive price.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Home'
  }
</script>

